#MAC OS
.DS_Store

#latex
*.bib
*.bst
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out
*.xdv


#python cache files 
__pycache__/

#####
.idea/
.ipynb_checkpoints/
.vscode/
tutorial/


#datasets, models, logs, etc.
*.train
*.test
*.pkl
*.txt
*.pt
data/
output/

#tensorboard
runs/ 

